.NavigationItem {
    margin: 0 10px;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
}

.NavigationItem a.active p {
    border-radius: 3px;
    padding: 6px;
    color: black;
    background: white;
}

@media(max-width: 400px) {
    .NavigationItem {
        border-bottom: 1px solid white;
        padding-top: 15px;
        padding-left: 10px;
    }
}