/* .Register {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 55px;
}

.RegisterForm {
  box-shadow: 5px 5px 5px #ccc;
  position: relative;
  top: 25px;
  padding: 25px;
  border: 1px solid gray;
} */
