.Members {
  width: 75%;
  margin: 25px auto;
}

.Members table {
  text-align: center;
  /* width: 85%; */
  margin: 25px auto;
  padding: 10px 0;
  border: 1px solid rgb(97, 96, 96);
}

.Members thead tr:hover {
  cursor: default;
  box-shadow: none;
}

@media (max-width: 475px) {
  .Members table {
    width: 95%;
  }
}

/*transition classes for member details*/

.fadeDown-appear {
  transform: translateY(-525px);
}

.fadeDown-appear-active {
  transform: translateY(0px);
  transition: all 500ms ease-in-out;
}

.fadeDown-enter {
  transform: translateY(0px);
}

.fadeDown-enter-active {
  transform: translateY(0px);
  transition: all 500ms ease-in-out;
}

.fadeDown-exit {
  transform: translateY(0px);
}

.fadeDown-exit-active {
  transform: translateY(-525px);
  transition: all 500ms ease-in-out;
}
